:root {
	--white: #ffffff;
	--primary: #008cff;
	--secondary: #0051ff;
	--tertiary: #0031cf;
	--action: #00af35;
	--info: #a100c2;
	--accent: #ff5e00;
	--warning: #ff0000;

	--black: #000000;
	--dark0: #111111;
	--dark1: #1e2124;
	--dark2: #282b30;
	--dark3: #36393e;
	--dark4: #424549;
	--dark5: #525559;
	--dark6: #626569;

	--border-radius: 5px;
}
